.contact-container {
    font-family: 'Arial', sans-serif;
   
    margin: 100px ;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; /* Set the width to 100% */
    max-width: 1200px; /* Optional: Add a maximum width for larger screens */
  }
  
.Contact-left {
    flex: 1; /* The left section takes up 50% of the available space */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; /* Center content horizontally */
    padding-left: 50px;
    /* Add styling for the left section, such as background color or padding */
  }
.Contact-left p{
    margin: 2px 0; /* Adjust the top and bottom margin as needed */
    line-height: 0;
}

  .contact-info {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .linkedin-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }
  
  .linkedin-container p {
    margin-left: 10px; /* Add some spacing between the icon and text */
  }


  
  .Contact-right {
    flex: 1; /* The right section takes up 50% of the available space */
    display: flex;
    
    align-items: flex-start; /* Center content vertically */
    justify-content: flex-start; 
    /* Add styling for the right section */
  }
  .contact-form {
    display: grid;
    gap: 20px;
    
  }

  .full-name{
    flex-direction: row;
    display: flex;
    gap: 30px;
  }

  .Matter{
    flex-direction: row;
    display: flex;
    gap: 30px;
  }
  .contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 10px;
  border: 1px solid#000000;
  border-radius: 5px;
  background-color: rgb(231, 239, 240);
  font-size: 16px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 300px; /* Set your desired width */
  height: 40px; /* Set your desired height */
}


.button{
    flex-direction: row;
    display: flex;
    gap: 30px;
  }

.button button {
width: 150px; /* Set a fixed width to make it a square */
height: 150px; /* Set a fixed height to make it a square */
border-radius: 50%; /* Make it circular */
background-color: #FFA500; /* Your button background color */
color: #f8f5f5;
cursor: pointer;
transition: 0.3s;
}

.contact-form textarea {

    width: 400px; /* Set your desired width */
    height: 150px; /* Set your desired height */
  }


.contact-form button {
    width: 150px; /* Set a fixed width to make it a square */
    height: 150px; /* Set a fixed height to make it a square */
    border-radius: 50%; /* Make it circular */
    background-color: #FFA500; /* Your button background color */
    color: #eef2f4;
    cursor: pointer;
    transition: 0.3s;
}


.contact-form button:hover {
  background-color: #ff8c00;
}
